#navBar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.7rem;
    // font-family: "Bad Script", cursive;
    // font-family: "Poiret One", sans-serif;

    li {
        padding: 14px 20px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            background-color: #575757;
        }
    }
}
